*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Red {
  background-color: #b05f6d;
  color: white;
}
.Blue {
  background-color: #275db3;
  color: white;
}

.Green {
  background-color: rgb(89, 255, 47);
  color: white;
}

.Home {
  background-color: white;
  color: black;
}

#Home {
  color: black;
  text-decoration: none;
}

#Blue {
  color: rgb(6, 45, 242);
  text-decoration: none;
}

#Red {
  color: rgb(237, 6, 6);
  text-decoration: none;
}

#Green {
  color: rgb(111, 248, 6);
  text-decoration: none;
}

#navbar a:hover {
  color:rgb(154, 13, 241);
  text-decoration: underline;
}

#Home a, #Blue a, #Red a, #Green a {
  color: inherit;
}